In [1]:
from pyspark.sql.session import SparkSession
from pyspark.sql.functions import *

In [2]:
spark_session = SparkSession.builder.appName('Siva').getOrCreate()

23/01/31 18:30:04 WARN Utils: Your hostname, sivachandan resolves to a loopback address: 127.0.1.1; using 10.0.0.187 instead (on interface wlp8s0)
23/01/31 18:30:04 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/01/31 18:30:05 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [9]:
df_raw = spark_session.read.csv('./data/train_dataset.csv',header=True)
df_raw.show(5,truncate=False)

+---+----------+----------+---------+--------------+---------------+-------------+--------------+--------+----------+-------------------+-----------+------------+---+---+----------+-------------+----------------+----+----+---+-------------+-------+
|age|height(cm)|weight(kg)|waist(cm)|eyesight(left)|eyesight(right)|hearing(left)|hearing(right)|systolic|relaxation|fasting blood sugar|Cholesterol|triglyceride|HDL|LDL|hemoglobin|Urine protein|serum creatinine|AST |ALT |Gtp|dental caries|smoking|
+---+----------+----------+---------+--------------+---------------+-------------+--------------+--------+----------+-------------------+-----------+------------+---+---+----------+-------------+----------------+----+----+---+-------------+-------+
|35 |170       |85        |97.0     |0.9           |0.9            |1            |1             |118     |78        |97                 |239        |153         |70 |142|19.8      |1            |1.0             |61  |115 |125|1            |1      |
|20 |175       |110       |110.0    |0.7           |0.9            |1            |1             |119     |79        |88                 |211        |128         |71 |114|15.9      |1            |1.1             |19  |25  |30 |1            |0      |
|45 |155       |65        |86.0     |0.9           |0.9            |1            |1             |110     |80        |80                 |193        |120         |57 |112|13.7      |3            |0.6             |1090|1400|276|0            |0      |
|45 |165       |80        |94.0     |0.8           |0.7            |1            |1             |158     |88        |249                |210        |366         |46 |91 |16.9      |1            |0.9             |32  |36  |36 |0            |0      |
|20 |165       |60        |81.0     |1.5           |0.1            |1            |1             |109     |64        |100                |179        |200         |47 |92 |14.9      |1            |1.2             |26  |28  |15 |0            |0      |
+---+----------+----------+---------+--------------+---------------+-------------+--------------+--------+----------+-------------------+-----------+------------+---+---+----------+-------------+----------------+----+----+---+-------------+-------+
only showing top 5 rows

In [12]:
df_transformed = df_raw.select([col(c).cast('float').alias(c) for c in df_raw.columns])

In [ ]:
df_transformed = df_transformed.select